<div class="container-fluid">
  <div style="margin:150px;" class="jumbotron">
    <h1>
      {{message}} {{username}} !!!!!!!
    </h1>
  </div>
</div>
<div class="container-fluid">
  <form #values='ngForm' (ngSubmit)="submit(values.value)">
    <div class="form-group">
      <div id="text" class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
        <textarea class="form-control" [(ngModel)]='val' name='val' row="15"></textarea>
      </div>
    </div>
    <br />
    <div class="form-group">
      <input type="submit" id="submit" class="form-control" value="UpdateMessage" class="btn btn-primary" />
    </div>
  </form>
</div>
<app-about [parentSubject]="childSubject" ></app-about>

