<div class="container-fluid">
  <div style="margin:77px;padding:40px;" class="jumbotron">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>justlogin@gmail.com</h1>
      <form [formGroup]='contact'  (ngSubmit)="submit(contact.value)">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <textarea class="form-control" [formControl]="contact.controls['contact']" row="15"></textarea>
            <div class="error" *ngIf="contact.controls['contact'].hasError('required') &&  contact.controls['contact'].touched">This field is required </div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <input type="submit" id="submit" [disabled]="contact.invalid" class="form-control" value="send" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>
</div>
</div>