<div class="container-fluid">
  <div style="margin:77px;padding:40px;" class="jumbotron">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>justlogin@gmail.com</h1>
      <form [formGroup]='contact1' (ngSubmit)='contact1.value'>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            <textarea style="height: 150px;" class="form-control" value="{{userData | json}}" [formControl]="contact1.controls['contact']" row="30"></textarea>
            <div class="error" *ngIf="contact1.controls['contact'].hasError('required') &&  contact1.controls['contact'].touched">This field is required </div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <input  (click)="makeRequest()" id="submit"  class="form-control" value="MAKE REQUEST" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>
</div>
</div>