<div class="container-fluid">
  <div style="margin-bottom:40px;" class="row">
    <div id="adv" class="col-md-4">
      <img src="https://dotnet.newcastle.edu.au/StarRezStatic/StarRez-Portal-Facilities-and-Amenities-Button.png" />
    </div>
    <div id="adv" class="col-md-4">
      <img src="https://dotnet.newcastle.edu.au/StarRezStatic/StarRez-Portal-Terms-and-Conditions-Button.png" />
    </div>
    <div id="adv" class="col-md-4">
      <img src="https://dotnet.newcastle.edu.au/StarRezStatic/StarRez-Portal-How-To-Apply-Button.png" />
    </div>
  </div>
</div>

